extends layout

block headers
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(src='/javascripts/connection.js')
    script(type='text/javascript').
        var username = '#{user.username}';
        var privilege = '#{user.privilege_level}';
        var displayname = '#{user.displayname}';
        var room_id = '#{room._id}';
        var room_name = '#{name}';
        
block content
    #welcome-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='welcome-label', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#welcome-label.modal-title Welcome to ESN!
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p In ESN, Status is important! Choose your status below.
            li.list-group-item
                button.status-btn.btn.btn-success(name='ok',data-dismiss='modal',style='width:7em') OK 
                label(style='padding-left:3em') I am fine.
            li.list-group-item
                button.status-btn.btn.btn-warning(name='help',data-dismiss='modal',style='width:7em') Help
                label(style='padding-left:3em') I need some help.
            li.list-group-item
                button.status-btn.btn.btn-danger(name='emergency',data-dismiss='modal',style='width:7em') Emergency
                label(style='padding-left:3em') Help me!
            li.list-group-item
                button.status-btn.btn.btn-dark(name='undefined',data-dismiss='modal',style='width:7em') Undefined
                label(style='padding-left:3em') I don't want to set a status.
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

    include components/navbar.pug
    include components/show_announcement_modal.pug
    include components/show_message_modal.pug
    include components/show_emergency_modal.pug

    div.container
        #emergency_alert_container
        #announcement_alert_container
        div.m-2.mx-auto.card-group
            .card.msg-background.user-content.d-md-block#user-list-card
                .card-body
                    button.btn.btn-secondary#card-title.col-12.offset-0 User directory
                    ul.list-group.list-group-flush#online-users-list
            .card.msg-background
                .card-header
                    .p3 #{name}
                .card-body
                    .msg-content.msg-content#chat-list
                .card-footer.msg-footer
                    #msg_form.form.form-horizontal(action="#")
                        .input-group
                            input.form-control#msg_input(type="text", name="message", placeholder="text message!", autocomplete="off")
                            span.input-group-btn
                                button.btn.btn-success#msg_submit(type="button") Submit
    if isNewMember
        script.
            var newMember = true;
    else
        script.
            var newMember = false;

